@import url('https://fonts.cdnfonts.com/css/soberana-sans');
@import 'assets/styles/header.css';
@import 'assets/styles/sidebar.css';
@import 'assets/styles/search.css';
@import 'assets/styles/btn-perfil.css';
@import 'assets/styles/footer-yumkaax.css';
@import 'assets/styles/inicio-admin.css';
@import 'assets/styles/menu-multinivel.css';
@import 'assets/styles/tabla.css';
@import 'assets/styles/tabla-indicadores.css';

/* Estilos predeterminados del sistema*/
*{margin: 0px; padding: 0px;}

:root {
    --color-uacam-primary: #1E2943;
    --color-uacam-secondary: #FFCD00;
    --color-uacam-white: #fff;
    --color-uacam-black: #000;
    --color-uacam-background: #ebe9e9;
    --color-uacam-danger: #bb2124;
    --color-uacam-red: red ;
    --color-uacam-success: #157347;
    --color-uacam-tuple: #E6E6E6;
    --color-uacam-datatext: #1976d2;
    --color-uacam-background-light: #f0f5ff;
    --color-uacam-secondary-light:#d7dbdd ;
  }

/* Body */
body{font-family: "Soberana Sans Regular", sans-serif !important; background-color: var(--color-uacam-background) !important;}

/* Estilo de scroll general */
::-webkit-scrollbar{
    width: 5px !important;
    height: 5px !important;
}

::-webkit-scrollbar-thumb{
    background-color: var(--color-uacam-primary) !important;
    border-radius: 10px;
}

.full-width{
  max-width: 100% !important;
  flex: 0 0 100% !important;
  width: 100% !important;
  background-color: var(--color-uacam-background) !important;
}

a {
  color: var(--color-uacam-primary);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--color-uacam-secondary);
}

/* Contenido */
.main .content {
  width: 82%;
  flex: 0 0 82%;
}

.right-content {
  padding: 90px 30px;
}

/* Card */
.card{
  border-radius: 8px !important;
  border: none;
}

/* Selector predeterminado */
.select-filter {
  padding: 9px;
  font-size: 14px;
  width: auto;
  border: 1px solid var(--color-uacam-secondary-light);
  border-radius: 4px;
  background-color: var(--color-uacam-white);
  color: var(--color-uacam-primary);
}

.select-filter:focus {
  outline: none;
  border-color: var(--color-uacam-datatext);
}

