@import url('https://fonts.cdnfonts.com/css/soberana-sans');

/* Estilos predeterminados del sistema*/
*{margin: 0px; padding: 0px;}

:root {
    --color-uacam-primary: #1E2943;
    --color-uacam-secondary: #FFCD00;
    --color-uacam-white: #fff;
    --color-uacam-black: #000;
    --color-uacam-background: #ebe9e9;
    --color-uacam-danger: #bb2124;
    --color-uacam-red: red ;
    --color-uacam-success: #157347;
    --color-uacam-tuple: #E6E6E6;
    --color-uacam-datatext: #1976d2;
    --color-uacam-background-light: #f0f5ff;
    --color-uacam-secondary-light:#d7dbdd ;
  }

/* Body */
body{font-family: "Soberana Sans Regular", sans-serif !important; background-color: var(--color-uacam-background) !important;}

/* Estilo de scroll general */
::-webkit-scrollbar{
    width: 5px !important;
    height: 5px !important;
}

::-webkit-scrollbar-thumb{
    background-color: var(--color-uacam-primary) !important;
    border-radius: 10px;
}

/* Estilos del sistema*/

/* Header */
header{
  width: 100%; 
  height: 70px; /* 80 Equivale a 5rem y 70 a 3.375rem*/
  background: var(--color-uacam-white);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

header .part2{
  padding-left: 25px !important;
}

header .logo{
  text-decoration: none;
}

header .logo img{
  width: 190px;
}

header .logo span{
  color: var(--color-uacam-black);
  font-weight: 600;
  font-size: 24px;
}

/* Botón circular de menú y otros */
header button.rounded-circle{
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  background: var(--color-uacam-background-light);
}

header button.rounded-circle svg{
  color: var(--color-uacam-primary); 
  font-size: 18px;
  transition: all 0.4s;
}

header button.rounded-circle svg:hover{
  color: var(--color-uacam-datatext) !important; 
}

/* SearchBox o Buscador */
.searchBox{
  width: 400px; 
  height: 40px; 
  background: var(--color-uacam-background-light); 
  border-radius: 6px;
  padding: 3px 15px;
}

.searchBox input{
  background: transparent;
  border: 0px;
  outline: none;
  padding-left: 5px;
  font-size: 15px;
  color: var(--color-uacam-primary);
}

.searchBox input::-webkit-input-placeholder{
  color: rgba(0, 0, 0, 0.6);
}

.searchBox svg{
  font-size: 18px;
  color: var(--color-uacam-primary);
}

/* Header -> Perfil de usuario */
.myAcc{
  text-align: left !important;
  text-transform: capitalize !important;
}

.myAcc .userImg{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border: 1px solid var(--color-uacam-primary);
  padding: 2px;
  border-radius: 100%
}

.myAcc .userImg .rounded-circle{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
}

.myAcc .userImg .rounded-circle img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.myAcc .userInfo{
  padding-left: 10px;
}

.myAcc .userInfo h4{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0px;
}

.myAcc .userInfo p{
  font-size: 12px;
  margin-top: 0px;
  color: var(--color-uacam-black);
  opacity: 0.7;
}

/* Estilos por defecto neutralizados del elemento Link */
.myAcc .menu-link {
  text-decoration: none; 
  color: inherit; 
}

.myAcc .menu-link:active,
.menu-link:hover {
  color: inherit;
  background: none;
  box-shadow: none;
}


/* 
En caso de colocar notificaciones, aquí irán 
*/

/* Sidebar */
.main .sidebarWrapper{
  width: 18%;
  flex: 0 0 18%;
  transition: all 0.6s;
}

.main .sidebar .tittle_seccion  h5{
  font-size: 16px;
  color: #8E9293;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 10px;
}

.main .sidebarWrapper .sidebar{
  width: 18%;
  height: 100vh;
  position: fixed;
  max-height: calc(100vh - 70px); 
  overflow-y: auto;
  top: 70px;
  left: 0px;
  background-color: var(--color-uacam-white);
  flex-direction: column;
  display: flex;
}

.main .sidebarWrapper .sidebar::-webkit-scrollbar{
  width: 3px !important;
}

.main .sidebarWrapper .sidebar::-webkit-scrollbar-thumb{
  background: transparent !important;
}

.main .sidebarWrapper:hover .sidebar::-webkit-scrollbar{
  background: var(--color-uacam-primary) !important;
}


/* Sidebar -> ul y li (Menus) */
.main .sidebarWrapper .sidebar ul {
  margin-bottom: 0px;
  padding: 5px 1px;
}

.main .sidebarWrapper .sidebar ul li {
  list-style: none;
}

/* Estilos para enlaces en lugar de botones */
.main .sidebarWrapper .sidebar ul li a {
  text-align: left;
  color: var(--color-uacam-primary);
  display: flex; 
  justify-content: flex-start; 
  border-radius: 7px;
  padding: 6px 10px; 
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 600;
  font-family: "Soberana Sans Regular", sans-serif;
  text-decoration: none; 
  transition: background-color 0.3s; 
  margin-top: 2px;
}

.main .sidebarWrapper .sidebar ul li a:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Efecto hover */
}

.main .sidebarWrapper .sidebar ul li a .icon {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.main .sidebarWrapper .sidebar ul li a .icon svg {
  color: var(--color-uacam-primary);
  font-size: 22px;
  opacity: 0.6;
}

.main .sidebarWrapper .sidebar ul li .arrow {
  margin-left: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 25px;
  height: 25px;
}

/* Sidebar Submenú */
.main .sidebarWrapper .sidebar ul li .submenu {
  margin-left: 38px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--color-uacam-secondary-light); /* Barra lateral */
  transition: max-height 0.6s ease, opacity 0.6s ease;
}

.main .sidebarWrapper .sidebar ul li .submenu.show {
  max-height: 300px; /* Ajusta el tamaño máximo según la cantidad de elementos */
  opacity: 1;
}

.main .sidebarWrapper .sidebar ul li .submenu li {
  list-style: none;
  margin-top: 0px;
}

.main .sidebarWrapper .sidebar ul li .submenu li a {
  font-size: 13px;
  padding: 5px 10px; 
  color: var(--color-uacam-primary);
  justify-content: left;
  border-radius: 7px; 
  text-decoration: none; 
}

.main .sidebarWrapper .sidebar ul li a.active {
  background-color: var(--color-uacam-background-light);
  color: var(--color-uacam-primary);
  font-weight: bold; 
  border-radius: 5px;
}

.main .sidebarWrapper .sidebar ul li .arrow {
  transition: transform 0.4s ease;
}

.main .sidebarWrapper .sidebar ul li .arrow.rotate {
  transform: rotate(90deg);
}

/* Sidebar Submenú - Submenú */
.main .sidebarWrapper .sidebar ul li .submenu-submenu {
  margin-left: 28px;
  display: flex;
  flex-direction: column;
  transition: all 0.6s;
  border-left: 1px solid var(--color-uacam-secondary-light); /* Barra lateral */
}

.main .sidebarWrapper .sidebar ul li .submenu-submenu li {
  list-style: none;
  margin-top: 1px;
}

.main .sidebarWrapper .sidebar ul li .submenu-submenu li a {
  font-size: 13px;
  padding: 5px 12px;
  color: var(--color-uacam-primary);
  justify-content: left;
  border-radius: 7px;
  text-decoration: none; 
}

/* Sidebar - Contendor de la imagen YumKaax*/
.sidebar-footer {
  padding: 5px; 
  text-align: center; 
  border-top: 1px solid var(--color-uacam-secondary-light);
  margin-top: auto; 
}

.footer-image {
  width: 70px;
  height: 70px;
}

.footer-text {
  margin-top: 5px;
  font-size: 10px;
  color: var(--color-uacam-primary);
  font-weight: 600;
}

/* Dashboard - content */
.main .content {
  width: 82%;
  flex: 0 0 82%;
}

.right-content {
  padding: 90px 30px;
}

.dashboardBoxWrapper {
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}

.dashboardBoxWrapper .dashboardBox {
  width: 48%;
  height: 200px;
  background: var(--color-uacam-white);
  border-radius: 8px;
}

.dashboardBoxWrapperRow .box {
  width: 100%;
  height: 100%;
  background: var(--color-uacam-white);
  border-radius: 8px;
}

/* Login Section */

.loginSection{
  width: 100%;
  height: 100vh;
  padding: 35px 25px;
  
}

/* Estilos de tabla A.A */

.card{
  border-radius: 6px !important;
}

.card .tittle-table{
  margin-left: 20px;
  color: var(--color-uacam-datatext);
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.search-bar {
  flex: 1;
  max-width: 300px;
  margin-right: 16px;
}


.table-container {
  width: 100%;
  margin: 10px;
  overflow-x: auto;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 11px;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.styled-table thead tr {
  background-color: var(--color-uacam-primary) !important;
  color: #fff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 7px 12px;
}

.styled-table tbody tr {
  border-bottom: 1px solid var(--color-uacam-background) !important;
  background: var(--color-uacam-tuple);
  transition: background-color 0.3s ease;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr.active-row {
  background-color: var(--color-uacam-white);
}

/* Filtro select */

/* Ajusta el tamaño y el estilo del select */
.select-filter {
  padding: 9px;
  font-size: 14px;
  width: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
}

/* Estilo para mantener coherencia con los demás elementos */
.select-filter:focus {
  outline: none;
  border-color: var(--color-uacam-datatext);
}